# -*- coding: utf-8 -*-
# vim: ft=jinja

# Start with defaults, merge osmapping, then pillars.

{% import_yaml 'resharper/defaults.yaml' as defs %}
{% set ide = salt['pillar.get']( 'resharper', default=defs.resharper, merge=True) %}

# Get dynamic release metadata
{%- set pcode = pcode ~ ide.jetbrains.edition %}
{% if grains.os == 'Windows' or ide.jetbrains.edition in ('None', '',) %}
   {%- set pcode = ide.jetbrains.product %}
{% endif %}
{%- set jdata = salt['cmd.run']('curl {0} {1}{2}'.format(ide.dl.opts, ide.jetbrains.uri, pcode))|load_yaml %}

# Extract download details
{% set _home = '{0}\\resharper-{1}'.format( ide.prefix, jdata[ pcode ][0]['version']) %}
{% if ide.jetbrains.edition %} 
  {% set _home = '{0}\\resharper-{1}-{2}'.format( ide.prefix, ide.jetbrains.edition, jdata[ pcode ][0]['version']) %}
{% endif %}
{%- set src_hashurl = jdata[ pcode ][0]['downloads'][ ide.osflavour ]['checksumLink'] %}
{%- set src_hashsum  = salt['cmd.run']('curl -s {0}'.format( src_hashurl )).split(' ')[0] %}

# Update dynamic parameters
{% do ide.jetbrains.update({ 'realhome': _home, 'realcmd': _home ~ ide.command },) %}
{% do ide.dl.update({
       'source_url'  : jdata[ pcode ][0]['downloads'][ ide.osflavour ]['link'],
       'archive_name': jdata[ pcode ][0]['downloads'][ ide.osflavour ]['link'].split('/') | last ,
       'src_hashurl' : src_hashurl,
       'src_hashsum' : src_hashsum,
) %}
{% set resharper = ide %}

